
.imageContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    aspect-ratio: 16 / 10;
    height: auto; /* Adjust the container height as needed */
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center; /* Center the child both horizontally and vertically */
    overflow: visible;
}


.verticalSymmetryLine {
    transform: rotateX(90degrees);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    opacity: 50%;
    z-index: 1000;
  }

.imageOverlay {
    width: calc(min(90vw, 150%)); /* Adjust the container width as needed */

    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the child both horizontally and vertically */

    display: flex;
    justify-content: center;

    &:hover {
        .image1 {
            opacity: 0;
            transition: opacity 10s ease-out;

        }
        .image2 {
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }
    }
}

.imageWrapper {

    display: flex; /* Keeps the image and line side by side */
    position: absolute;
    top: 0%;
    width: inherit;

    height: 100%;
    overflow: hidden;

}


img {
    opacity: 1;
    width: 100%;
}

.image1, .image2 {
    transition: opacity 4s ease-out;

    object-fit: cover;
    object-position: 90.5% 28.5%; /* Center the zoom on one of the eyes */

}

.image2 {
    opacity: 0;
}
