.imageContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  aspect-ratio: 16 / 10;
  height: auto; /* Adjust the container height as needed */
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center; /* Center the child both horizontally and vertically */
  overflow: visible;
}

.imageOverlay {
  width: calc(min(90vw, 150%)); /* Adjust the container width as needed */

  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the child both horizontally and vertically */

  display: flex;
  justify-content: center;

  &:hover {
    .image1 {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    .image2 {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  }
}

.imageWrapper {
  display: flex; /* Keeps the image and line side by side */
  position: absolute;
  top: 0%;
  width: 100%;

  height: 100%;
  overflow: hidden;
}

.image1,
.image2 {
  transition: opacity 1s ease-out;
  object-fit: scale-down;
  width: 100%;
}

.image2 {
  opacity: 0;
}
