.imageContainer {
  position: relative;
  transform-style: preserve-3d;
  max-width: 75vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border: 20px solid white;
  outline: 3px solid whitesmoke;
}

.imageContainer img:hover {
  max-width: 100%;
  height: auto;
  box-shadow: none;
}

.imageContainer:hover {
  cursor: pointer;
}