.imageContainer {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    
    width: 70%;
    transform: translateX(50%);
}
  
  .imageContainer img {
    height: auto;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    border: 1vh solid white;
    margin: 0 auto;
    right: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */

  }
  
  .imageContainer:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .imageContainer:hover img {
    transform: perspective(500px) translateZ(20px);
    transform-origin: 33% 50%;
    border: 1vh solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  }

  