// Global theme styles

.textRed {
  color: red;
}

// You can add more theme colors and styles here
.textWarning {
  color: orange;
}

.textHighlight {
  color: blue;
}

.textEmphasis {
  font-weight: bold;
  color: purple;
}