

.main {
    font-family: consolas, monaco, courier, "courier new", fixed-width, monospace;
    display: grid;
    margin: 3vh auto auto;
    grid-template-columns:
    minmax(0, auto) min(800px, 95vw) minmax(0, auto);

  /*
  // This makes the page content not jump when the scroll bar appears on the right as long content is loaded.
  // Breaks on mobile with everything shifted to the right, so now just displaying the scrollbar for all pages regardless of height */
  /* //   paddingLeft: 'calc(100vw - 100%)', */
}

.debugBox {
  border: 3px dashed red;
}

.verticalSymmetryLine {
  border: 20px solid red;
  transform: rotateX(90degrees);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  opacity: 50%;
}
.title {
  text-align: center;
}

.header {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
    text-align: center;
    justify-self: center;
}

.content{
  display: flex;
  flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}

.innerContent {
  display: flex;
  grid-row: 3;
  grid-column: 2;
  flex-direction: column;
  justify-content: center;
}



p {
  display: flex;
}

img {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: none; /* Remove the maximum width restriction */
  height: auto; /* Maintain the image's aspect ratio */

}
pre, code {

  overflow-x: auto;
  white-space: pre-wrap;
  
}

code span {
  color: black !important;
}

pre {
  margin: 0 auto;
  padding: 10px;
    width: 100%;
    background-color: whitesmoke !important;
  }

.divider {
background: linear-gradient(to right, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
height: 1px;
margin: 2em;
border-style: dashed;
/* TODO use a variable for this. Should be the same as the BG colour so it melts into it*/
border-color: white;
}

.dividerUpper {
background: linear-gradient(to right, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
height: 1px;
margin: 2em;
border-style: dashed;
/* TODO use a variable for this. Should be the same as the BG colour so it melts into it*/
border-color: white;
opacity: 1;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;

}

.date {
    text-align: center;
  color:#524F4F;
  font-weight: 500;
}