/* Reset all margins to ensure consistency in css */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html {
    /* show scrollbar regardless of page height */
    overflow-y: scroll;
    font-size: 1rem;
}


h1 {
    font-family: consolas, monaco, courier, "courier new", fixed-width;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-top: 1.5rem;

}

.inlineLink {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}


.removeDecoration {
    /* underlining can't be overwritten normally
    https://stackoverflow.com/questions/1823341/how-do-i-get-this-css-text-decoration-override-to-work */
    display: inline-block;
}

p {
    line-height: 1.9em;

    /* Set margins to line height https://24ways.org/2006/compose-to-a-vertical-rhythm */
    margin-top: 1.9em;
    margin-bottom: 1.9em;
}


.spacer {
    margin-bottom: 50px;
}

.centered {
        
        margin-left: auto;
        margin-right: auto;
}

.terminal-screen {
    width: 300px;
    height: 200px;
    border: 2px dashed red;
}