---
import Layout from '../components/react/Layout/Layout.tsx';
import PageLink from '../components/react/PageLink/PageLink';
---

<Layout title="Welcome to Astro.">	
	<div>Hello World</div>
</Layout>
