---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageLink from '../components/react/PageLink/PageLink';
---

<BaseLayout title="Welcome to Astro." client:load>	
	<div>Hello World</div>
</BaseLayout>
