---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLink from "../components/react/PageLink/PageLink.tsx";
import { getCollection } from "astro:content";

const allPhotos = await getCollection("photography");
---

<BaseLayout title="Photography">
    <div></div>

    {
        allPhotos.map((photo) => {
            return (
                <PageLink
                    to={`/photography/${photo.slug}`}
                    text={photo.data.title}
                />
            );
        })
    }
</BaseLayout>
