---
import Layout from '../components/react/Layout/Layout.tsx';
import PageLink from '../components/react/PageLink/PageLink';
---

<Layout title="Welcome to Astro.">	
	<div>Hello World</div>
	<PageLink 
	to="/blog/source-control-dotenv-files"
	text="Using Source Control for Bash Profile Files"
	/>
	<div>// TODO: Autogenerate list of links based on folder structure</div>
</Layout>
