---
import { Image } from "astro:assets";
import ImageWrapperLightBox from "../react/Images/ImageWrapperLightBox.tsx";

interface Props {
    imagePath: string;
    altText: string;
    name: string;
    age: number;
}

const { imagePath, altText, name, age } = Astro.props;
const images = import.meta.glob(
    "/src/images/photography/cows_of_mendip_hills/*.{jpeg,jpg,png,gif}"
);
---

<div class="card">
    {
        Object.keys(images).map((image) => {
            return (
                <ImageWrapperLightBox client:only>
                    <Image src={images[image]()} alt={altText} />
                </ImageWrapperLightBox>
            );
        })
    }
</div>
