---
import { Image } from "astro:assets";
import ImageWrapper from "../react/Images/ImageWrapper.tsx";

interface Props {
    images: any;
}

const { images } = Astro.props;
---

<div>
    {
        Object.keys(images).map((image) => {
            return (
                <ImageWrapper client:only>
                    <Image src={images[image]()} alt={"image"} />
                </ImageWrapper>
            );
        })
    }
</div>
