---
import Layout from '../components/react/Layout/Layout.tsx';
import RootLayout from './RootLayout.astro';
import styles from './BaseLayout.module.scss';
const { frontmatter } = Astro.props;

const pageTitle = frontmatter
    ? frontmatter?.title
        ? frontmatter.title
        : Astro.props.title
    : Astro.props.title;
---

<RootLayout title={pageTitle}>
    <Layout title={pageTitle} client:load>
        <div class={styles.baseLayoutBottomMargin}>
            <slot />
        </div>
    </Layout>
</RootLayout>
