@import "../../../styles/colors.scss";


.logoBox {
  position: relative;
  width: 35px;
  margin: 0 auto;
  height: 45px;
  border: 1px solid $arrowBlue;
  cursor: pointer;
  transition: border-color 0.3s ease;
  will-change: transform; // Optimization hint for browsers
  transform-style:preserve-3d;

  &:hover {
    border-color: $arrowBlue;
  }
}

.logoImage {

  position: absolute    ;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  fill: $arrowBlue;
  color: $arrowBlue;
  stroke: $arrowBlue;
  pointer-events: none; // Make sure mouse events go to the container
  user-select: none; // Prevent selection
}